################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/opendata/.vs/opendata/v15/Server/sqlite3
/opendata/opendatanew/.vs/opendatanew/v15
